# Volcano Eruptions

Which volcanoes have experienced the longest eruptions?

The dataset `volcanic-eruptions.csv` includes the start and end dates for all volcanic eruptions since 1800, along with each volcano's identification number. For eruptions that are still ongoing as of December 2024, the end date is recorded as December 2024.

This dataset excludes any eruptive pauses shorter than three months. If an eruption resumes after more than three months of inactivity, it is classified as a new eruption.

Note: Volcano Yasur in Vanuatu is not included in this list due to the absence of a clear start date.

In [44]:
# FOR GOOGLE COLAB ONLY.
# Uncomment and run the code below. A dialog will appear to upload files.
# Upload 'volcanic-eruptions.csv' and 'volcano-list.csv'.

# from google.colab import files
# uploaded = files.upload()

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

eruptions = pd.read_csv('volcanic-eruptions.csv')
eruptions.head(3)

   volcano_id start_date end_date
0      211020    07-1913  04-1944
1      211020    02-1864  11-1868
2      211020    12-1854  05-1855

### Additional dataset

The dataset `volcano-list.csv` provides detailed information about each volcano, including its name, country, latitude, longitude, and type.

In [2]:
volcanoes = pd.read_csv('volcano-list.csv')
volcanoes.head(3)

,volcano_id,volcano_name,country,volcanic_region_group,volcanic_region,volcano_landform,primary_volcano_type,activity_evidence,last_known_eruption,latitude,longitude,elevation_m,tectonic_setting,dominant_rock_type
0,210010,West Eifel Volcanic Field,Germany,European Volcanic Regions,Central European Volcanic Province,Cluster,Volcanic field,Eruption Dated,8300 BCE,50.170,6.850,600,Rift zone / Continental crust (>25 km),Foidite
1,210020,Chaine des Puys,France,European Volcanic Regions,Western European Volcanic Province,Cluster,Lava dome(s),Eruption Dated,4040 BCE,45.786,2.981,1464,Rift zone / Continental crust (>25 km),Basalt / Picro-Basalt
2,210030,Olot Volcanic Field,Spain,European Volcanic Regions,Western European Volcanic Province,Cluster,Volcanic field,Evidence Credible,Unknown,42.170,2.530,893,Intraplate / Continental crust (>25 km),Trachybasalt / Tephrite Basanite

### Project Ideas:

- Find the volcanoes that were erupting as of Dec 2024.

- Find the volcanoes that have had the longest volcanic eruptions. 

Hints:
- Use `pd.to_datetime`.

- Merge the volcanoes dataframe into eruptions.

- Before the merge, reduce the dataframes to the columns of interest.

- Use `df.sort_values`.

In [28]:
# YOUR CODE HERE (add additional cells as needed)
# Extract volcano_id, volcano_name, and country from the volcanoes DataFrame
volcanoes_info = volcanoes[['volcano_id', 'volcano_name', 'country']]

# Convert start_date and end_date to datetime format in the eruptions DataFrame
eruptions['start_date'] = pd.to_datetime(eruptions['start_date'], format='%m-%Y', errors='coerce')
eruptions['end_date'] = pd.to_datetime(eruptions['end_date'], format='%m-%Y', errors='coerce')

# Merge the volcanoes_info with eruptions on volcano_id
merged_data = volcanoes_info.merge(eruptions, on='volcano_id', how='left')
# Select relevant columns and rename them for clarity
merged_data.dropna(subset=['start_date', 'end_date'], inplace=True)

# Calculate the duration of each volcanic eruption
merged_data['volcanic_eruption_period'] = merged_data['end_date'] - merged_data['start_date']

# Filter for volcanoes that were active in December 2024
volcanoes_dec_2024 = merged_data[
    (merged_data['start_date'] <= '2024-12-31') &
    (merged_data['end_date'] >= '2024-12-01')
]

# Find the longest volcanic eruption
longest_volcano_eruption = merged_data.sort_values(
    by='volcanic_eruption_period', ascending=False
).head(10)

# Print the results
print("Volcanoes active in December 2024:")
print(volcanoes_dec_2024[['volcano_id', 'volcano_name', 'country', 'start_date', 'end_date']])

print("\nLongest volcanic eruption:")
print(longest_volcano_eruption[['volcano_id', 'volcano_name', 'country', 'start_date', 'end_date', 'volcanic_eruption_period']])


# Write the response to txt
with open('volcano_analysis.txt', 'w') as f:
    f.write("Volcanoes active in December 2024:\n")
    f.write(volcanoes_dec_2024[['volcano_id', 'volcano_name', 'country', 'start_date', 'end_date']].to_string(index=False))
    f.write("\n\nLongest volcanic eruption:\n")
    f.write(longest_volcano_eruption[['volcano_id', 'volcano_name', 'country', 'start_date', 'end_date', 'volcanic_eruption_period']].to_string(index=False))

Volcanoes active in December 2024:
      volcano_id           volcano_name           country start_date  \
20        211040              Stromboli             Italy 1934-02-01
35        211060                   Etna             Italy 2022-11-01
130       221080               Erta Ale          Ethiopia 1967-07-01
208       222120      Lengai, Ol Doinyo          Tanzania 2017-04-01
241       223020            Nyamulagira          DR Congo 2018-04-01
473       234010                  Heard         Australia 2012-09-01
499       241040  Whakaari/White Island       New Zealand 2024-05-01
663       243060                  Tofua             Tonga 2015-10-01
675       243080              Home Reef             Tonga 2024-12-01
739       251020                  Manam  Papua New Guinea 2018-05-01
762       252010                Langila  Papua New Guinea 2015-10-01
916       256010               Tinakula   Solomon Islands 2018-12-01
1078      261140                 Marapi         Indonesia 2023-12-01
1368      263250                 Merapi         Indonesia 2020-12-01
1414      263300                 Semeru         Indonesia 2017-06-01
1544      263340                  Raung         Indonesia 2024-12-01
1645      264180               Lewotobi         Indonesia 2023-12-01
1836      268010                 Dukono         Indonesia 1933-08-01
1840      268030                    Ibu         Indonesia 2008-04-01
1940      272020                Kanlaon       Philippines 2024-10-01
2014      273070                   Taal       Philippines 2024-04-01
2069      282030           Suwanosejima             Japan 2004-10-01
2114      282080                   Aira             Japan 2017-03-01
2520      284141                   Ahyi     United States 2024-08-01
2750      290380                  Ebeko            Russia 2022-06-01
2834      300130               Karymsky            Russia 2024-06-01
2990      300270              Sheveluch            Russia 1999-08-01
3065      311120           Great Sitkin     United States 2021-05-01
3379      332010                Kilauea     United States 2024-12-01
3534      341090           Popocatepetl            Mexico 2005-01-01
3558      342030            Santa Maria         Guatemala 1922-06-01
3573      342090                  Fuego         Guatemala 2002-01-01
3791      344100                 Masaya         Nicaragua 2015-10-01
3845      345020     Rincon de la Vieja        Costa Rica 2021-06-01
3937      351020       Ruiz, Nevado del          Colombia 2014-11-01
3988      352010             Reventador           Ecuador 2008-07-01
4046      352090                 Sangay           Ecuador 2019-03-01
4112      354006              Sabancaya              Peru 2016-11-01
4327      357120             Villarrica             Chile 2014-12-01
4430      371020              Reykjanes           Iceland 2023-12-01
4549      390020                 Erebus        Antarctica 1972-12-01

       end_date
20   2024-12-01
35   2024-12-01
130  2024-12-01
208  2024-12-01
241  2024-12-01
473  2024-12-01
499  2024-12-01
663  2024-12-01
675  2024-12-01
739  2024-12-01
762  2024-12-01
916  2024-12-01
1078 2024-12-01
1368 2024-12-01
1414 2024-12-01
1544 2024-12-01
1645 2024-12-01
1836 2024-12-01
1840 2024-12-01
1940 2024-12-01
2014 2024-12-01
2069 2024-12-01
2114 2024-12-01
2520 2024-12-01
2750 2024-12-01
2834 2024-12-01
2990 2024-12-01
3065 2024-12-01
3379 2024-12-01
3534 2024-12-01
3558 2024-12-01
3573 2024-12-01
3791 2024-12-01
3845 2024-12-01
3937 2024-12-01
3988 2024-12-01
4046 2024-12-01
4112 2024-12-01
4327 2024-12-01
4430 2024-12-01
4549 2024-12-01

Longest volcanic eruption:
      volcano_id volcano_name           country start_date   end_date  \
3558      342030  Santa Maria         Guatemala 1922-06-01 2024-12-01
1836      268010       Dukono         Indonesia 1933-08-01 2024-12-01
20        211040    Stromboli             Italy 1934-02-01 2024-12-01
4049      352090       Sangay           Ecuador 1934-08-01 2011-03-01
3370      332010      Kilauea     United States 1823-02-01 1894-12-01
2118      282080         Aira             Japan 1955-10-01 2016-08-01
130       221080     Erta Ale          Ethiopia 1967-07-01 2024-12-01
4549      390020       Erebus        Antarctica 1972-12-01 2024-12-01
271       223030   Nyiragongo          DR Congo 1927-03-01 1977-01-01
857       253030      Victory  Papua New Guinea 1890-01-01 1935-01-01

     volcanic_eruption_period
3558               37439 days
1836               33360 days
20                 33176 days
4049               27971 days
3370               26236 days
2118               22220 days
130                20973 days
4549               18993 days
271                18204 days
857                16435 days